
<mat-card  *ngFor="let article of articles">
  <mat-card-header >
    <mat-card-subtitle>{{article.articleTitle}}</mat-card-subtitle>
    <mat-card-subtitle><a href="{{article.articleLink}}">{{article.articleLink}}</a> </mat-card-subtitle>
    <mat-card-subtitle class="date">{{article.articleDate | date }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content >
    <mat-card-title>{{article.articleTitle}}</mat-card-title>
    <mat-card-content>{{article.articleContent}}</mat-card-content>
  </mat-card-content>
</mat-card>




















<!--<mat-drawer-container class="container" autosize>-->
<!--  <mat-drawer #drawer class="sidenav" mode="side">-->
<!--    <p>make tab 'Articles:'</p>-->
<!--    <p>Make toolbar 'DateSort' and 'MediaSort'</p>-->
<!--    <p>left 'Check all | none '    right 'Selected articles: #' 'Clear'</p>-->
<!--    <mat-card>-->
<!--      <mat-card-title>Card Title</mat-card-title>-->
<!--    </mat-card>-->

<!--  </mat-drawer>-->
<!--  <h3>ArticleInterface list works!</h3>-->
<!--  <div class="sidenav-content">-->
<!--    <button type="button" mat-button (click)="drawer.toggle()">-->
<!--      Make icon for toggle-->
<!--    </button>-->
<!--  </div>-->
<!--</mat-drawer-container>-->
