
.date {
  text-align: left;
  color: #999999;
}
mat-card-subtitle {
  color: black;
}

a {
  text-decoration: none;
  color: deeppink;
}
mat-card-content {

}

.clicker {
  outline:none;
  cursor:pointer;
}

.hiddenContent{
  display:none;

  background-color:green;
}

.clicker:focus + .hiddenContent{
  display:block;
}
