<mat-accordion>
  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header><span class="toolbar-spacer"><mat-icon>thumb_up</mat-icon></span><span class="toolbar-spacer"><mat-icon>remove</mat-icon></span><span class="toolbar-spacer"><mat-icon>thumb_down</mat-icon></span>
      <mat-panel-title>{{article.articleTitle}}</mat-panel-title>
    </mat-expansion-panel-header>
<mat-list>
  <mat-list-item><span>Media: </span>{{article.articleMedia}}</mat-list-item>
  <mat-list-item><span>Authors: </span>{{article.articleAuthor}}</mat-list-item>
  <mat-list-item><span>Topics: </span>{{article.articleTopic}}</mat-list-item>
  <br />
  <mat-list-item><span>Tag: </span>{{article.articleTag}}</mat-list-item>
  <mat-list-item><span>Date: </span>{{ article.articleDate| date : "EEE.dd.MMM.y,' Time:' H:mm"}}</mat-list-item>
  <mat-list-item><span>Link: </span><a target="_blank" href="{{article.articleLink}}">{{article.articleLink}}</a></mat-list-item>
</mat-list>
  </mat-expansion-panel>
</mat-accordion>
<article>
  <div>{{article.articleContent}} </div>
</article>

