
mat-button-toggle {
  height: 20px;
  width: 50px;
  font-size: smaller;
  color: #bc5123;
  padding-bottom: 25px;
}

.AndOrNotBtnHide {
  display: none;

}
.AndOrNotBtnHover:hover + .AndOrNotBtnHide {
  display: block;

}

.AndOrNotBtnHide:hover {
  display: block;
}

button.AndOrNotBtn {
  border-radius: 5px;
  height: 25px;
  text-align: center;
  line-height: 10px;
}
