
mat-button-toggle {
  height: 20px;
  width: 50px;
  font-size: smaller;
  padding-bottom: 25px;
}

.AndOrNotBtnHide {
  display: none;

}
.AndOrNotBtnHover:hover + .AndOrNotBtnHide {
  display: block;

}

.AndOrNotBtnHide:hover {
  display: block;
}
