mat-radio-group {
  width: 220px;
  display: flex;
  margin: 20px 0;
}

mat-radio-button{

  display: block;

}

mat-card {
  margin: 0;
  padding: 0;

  width: 252px;
}
mat-card-content {
  width: 220px;
}

mat-label {

}

.spacer {
  flex: 1 1 auto;
}
