mat-radio-group {
  width: 220px;
  display: flex;
  margin: 20px 0;
}

mat-radio-button{
  display: block;
}

mat-card {
  margin: 0;
  padding: 0;
  width: 252px;
}

mat-card-content {
  width: 220px;
  height: 50px;
}

.short200 {
  width: 200px;
}

.spacer {
  flex: 1 1 auto;
}

.arrowChange:hover {
  rotation: revert;
}

.drawer-sidenav {
  width: 220px;
  background-color: #eeeeee;
}

button.dataFilterCollapse {
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  height: 24px;
  text-align: center;
  line-height: 10px;
}

mat-card-actions {
  padding-left: 15%;
}

mat-card-header {
 width: 160px;
}

.AndOrNotBtn {
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  height: 30px;
  text-align: center;
  line-height: 10px;
}

mat-card-content, mat-card-title {
  padding-top: 10px;
}

.SearchFilterTree {
  height: 24px;
}
