mat-radio-group {
  width: 220px;
  display: flex;
  margin: 20px 0;
}

mat-radio-button{

  display: block;

}

mat-card {
  margin: 0;
  padding: 0;

  width: 252px;
}
mat-card-content {
  width: 220px;
  height: 50px;
}

.short200 {
  width: 200px;
}
.spacer {
  flex: 1 1 auto;
}

.arrowChange:hover {
  rotation: revert;
}

.drawer-sidenav {
  width: 220px;
  background-color: #eeeeee;

}
