<mat-card class="FilterTreeItemCard">
  <mat-card-header>
    <mat-card-title>Topics</mat-card-title>
    <span class="spacer"></span>
  </mat-card-header>

  <mat-card-content class="searchIcon">

    <div>
      <mat-icon>search</mat-icon>
        <input class="customWidthWrapper"
               name="searchText"
               type="text"
               placeholder="Search"
               (keyup)="onSearchEvent($event)">
    </div>

    <mat-tree class="FilterTree" [dataSource]="dataSource" [treeControl]="treeControl">

      <mat-tree-node *matTreeNodeDef="let node">
            <ul>
              <li>
                <app-filterTreeItem [item]="node"></app-filterTreeItem>
              </li>
            </ul>
      </mat-tree-node>

    </mat-tree>
  </mat-card-content>
</mat-card>

