

html, body { height: 100%; }
body { margin: 1px; font-family: glyphicons-basic-regular !important; }

html, body { height: 100%; }
body { margin: 1px;
  font-family: glyphicons-basic-regular !important; }
