<app-datetime-picker (onRangeSelected)="datePickerData($event)"></app-datetime-picker>
<!--<app-datetime-picker (onRangeSelected_2)="dateSelection_2($event)"></app-datetime-picker>-->
<!--<app-datetime-picker (greetEvent)="greet($event)"></app-datetime-picker>-->

<div>{{dateSelection.dateRangeStart | date: 'EEEE, MMMM d, y,h:mm:ss a zzzz ' }}</div>
<div>{{dateSelection.dateRangeEnd | date: "full" }}</div>

<!--<div>{{dateSelectionModel.singleDate}}</div>-->
<!--<div>{{dateSelectionModel.startRangeDate}}</div>-->
<!--<div>{{dateSelectionModel.endRangeDate}}</div>-->
<!--<div>{{dateRangeStart}}</div>-->
<!--<div>{{dateRangeEnd}}</div>-->
