<header>
  <mat-toolbar class="toolbar-spacer">
    <button mat-icon-button mat-raised-button [matMenuTriggerFor]="menu" class="toolbar-icon">
      <mat-icon>menu</mat-icon>
      <mat-menu class="toolbar-menu" #menu="matMenu">
        <button class="toolbar-menu-button" mat-menu-item routerLink="/app-page1">ArticleInterface Details</button>
        <button class="toolbar-menu-button" mat-menu-item routerLink="/app-page2">ArticleInterface list</button>
        <button class="toolbar-menu-button" mat-menu-item routerLink="/app-page3">Datetime picker</button>
        <button class="toolbar-menu-button" mat-menu-item routerLink="/app-page4">Filter Tree</button>
        <button class="toolbar-menu-button" mat-menu-item routerLink="/app-page5">Search</button>
      </mat-menu>
    </button>
    <span class="toolbar-spacer"></span>
    <span class="toolbar-title">{{ homeTitle }}</span>
    <span class="toolbar-spacer"></span>
  </mat-toolbar>
</header>
<main>
  <router-outlet></router-outlet>
</main>



