mat-card{
  border-radius: 5px;
  width: 220px;
  font-family: glyphicons-basic-regular, sans-serif;
  font-size: 12px;
}
.spacer {
  flex: 1 1 auto;
}

.spacer-color {
  float: left;
  background-color: #eeeeee;
  text-align: center;
  width: 50px;
  margin: 20px;
  border-radius: 5px;
}
.spacer-color:hover {
  border: 1px solid #e0e0e0;
}
mat-card-content {
  margin: 0;
  padding: 0;
  width: 220px;
  line-height: 1.9em;
  font-size: 12px;
}

mat-grid-list{
 width: 220px;
  padding: 0;
  margin: 10px;
 }

mat-grid-tile {
  width: 80px;

}

mat-card-header {
  width: 204px;
}

input {
  text-align: justify;
  font-size: 12px;
  font-family: glyphicons-basic-regular, sans-serif;

}
mat-grid-tile {
  text-align: center;
}
mat-grid-tile:hover {
  float: right;
  cursor: pointer;
  text-align: center;
  font-size: small;
}

.short200 {
  font-size: 12px;
  height: 25px;
  width: 188px;
  text-align: left;
}
.dateFilterFirstBanner {
  height: 25px;
  width: 218px !important;
  line-height: 0.9em;
  font-size: 12px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  flex: 1 1 auto;
}

i {
  font-size: 12px;
  flex: 1 1 auto;
  height: 24px;
  border: 1px solid #e0e0e0;
  background-color: #eeeeee;
  text-align: center;
}
button.dataFilterCollapse {
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  height: 24px;
  text-align: center;
  line-height: 10px;
}

 i:hover {
   background-color: #e0e0e0;
 }

 i.prevDay {
   float: left;
   cursor: pointer;
   border-bottom-left-radius: 5px;
   border-top-left-radius: 5px;

   height: 24px;
   text-align: center;
 }
i.nextDay {
  float: right;
  cursor: pointer;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;

  height: 24px;
  text-align: center;
}

mat-list-item {
  font-size: 12px;
}

li,ul {
  list-style-type: none;
  margin: 0 8px;
  padding: 0;
}

span.iDateFilter {
  alignment: right ;
}

.floatleft {
  float:left;
}
.floatright {
  float:right;
}
