<mat-card>

  <mat-card-header>
    <mat-card-title class="spacer">Date Filter</mat-card-title>
    <span class="spacer"></span>

    <button mat-raised-button mat-icon-button class="dataFilterCollapse" (click)="toggleCollapsed()" >
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>


  </mat-card-header>

  <mat-card-content *ngIf="collapsed">
    <mat-list>
      <mat-list-item>
  <!--                                                    TODO      add function -1 day to arrow-->

          <i class="prevDay" (click)="dateFilter_prevDay()">
            <mat-icon>navigate_before</mat-icon>
          </i>
          <i>{{pickerChange | date}}</i>

  <!--                                                    TODO      add function +1 day to arrow-->
          <i class="nextDay" (click)="dateFilter_nextDay()">
            <mat-icon>keyboard_arrow_right</mat-icon>
          </i>
      </mat-list-item>

      <mat-list-item>
        <mat-form-field appearance="fill" class="short200" >
          <mat-label>Select:</mat-label>
          <input matInput [matDatepicker]="picker" readonly
            (dateChange)="addPickerEvent( $event)">
           <mat-datepicker-toggle  matSuffix [for]="picker" >
          </mat-datepicker-toggle>
          <mat-datepicker #picker disabled="false"></mat-datepicker>
        </mat-form-field>
      </mat-list-item>
<br />
      <mat-list-item>

        <mat-form-field appearance="fill" class="short200" >
          <mat-label>Range: </mat-label>
          <mat-date-range-input [rangePicker]="dateRangePicker">
            <input matStartDate
                   placeholder="Start date"
                   #dateRangeStart>
            <input matEndDate
                   placeholder="End date"
                   #dateRangeEnd
                   (dateChange)="dateRangeChange(dateRangeStart, dateRangeEnd)">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix
                                 [for]="dateRangePicker">
          </mat-datepicker-toggle>
          <mat-date-range-picker #dateRangePicker></mat-date-range-picker>
        </mat-form-field>

      </mat-list-item >
      <mat-list-item>today</mat-list-item>
      <mat-list-item>yesterday</mat-list-item>
      <mat-list-item>last week</mat-list-item>
      <mat-list-item>last month</mat-list-item>
    </mat-list>
  </mat-card-content>

</mat-card>

