mat-card{
  width: 220px;
}
.spacer {
  flex: 1 1 auto;
}

mat-card-content {
  margin: 0;
  padding: 0;
  width: 220px;
  line-height: 1.9em;

}
.dateFilterHeaderButtons{

  font-size: 12px;
  margin: 0;
  padding: 0;
  width: 210px;
  height: 35px;
}
.short200 {
width: 200px;
  text-decoration: none;
  font-size: medium;
}
