/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'glyphicons-basic-regular';
  src: url(src/assets/fonts/glyphicons-pro/glyphicons-basic-2-3/desktop-font/glyphicons-basic-regular.otf) format('opentype');
}

html, body {
  height: 100%;
  font-family: glyphicons-basic-regular, serif !important;
}

body {
  margin: 1px;

}

